<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Public files" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{DOCUMENT_ROOT}\public\{R:1}" matchType="IsFile" />
                    </conditions>
                    <action type="Rewrite" url="public/{R:1}" />
                </rule>
                <rule name="Public directories" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{DOCUMENT_ROOT}\public\{R:1}" matchType="IsDirectory" />
                    </conditions>
                    <action type="Rewrite" url="public/{R:1}" />
                </rule>
                <rule name="Laravel front controller" stopProcessing="true">
                    <match url="^(.*)$" />
                    <action type="Rewrite" url="public/index.php" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="public/index.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
